@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #222;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.wrapper {
    width: 1440px;
    margin: 50px;
}
